.form {
  &__name {
    padding-left: 10px;
    width: 240px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: white;
  }
  &__category {
    padding-left: 5px;
    width: 252px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: white;
  }
  &__cost {
    padding-left: 10px;
    width: 240px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: white;
  }
  &__date {
    padding-left: 5px;
    width: 248px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: white;
  }
  &__notes {
    width: 95%;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: white;
  }
  &__notes::placeholder {
    color: white;
  }
  &__notes:focus::placeholder {
    color: transparent;
  }
}

.input:hover {
  outline: none;
  background-color: #777777;
  caret-color: transparent;
}

.input:focus {
  outline: none;
  background-color: #777777;
  caret-color: transparent;
}

.wrapper-div {
  display: flex;
  align-items: center;
  &__columns {
    width: 50%;
  }
  &__image {
    height: 280px;
    margin-top: 30px;
    padding-left: 10px;
  }
}

.label {
  display: flex;
  width: 300px;
  align-items: center;
  margin: 20px 0 5px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  &__add{
    margin: 5px 5px 5px 0;
    font-weight: 0;
    font-size: 15px;
    background-color: #fff;
    color: rgb(13, 16, 16);
    padding: 8px 20px;
    border-radius: 5px;
    transition : 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  &__add:hover{
    transition : 200ms;
    transform : translateY(-0px);
    color: #fff;
    background-color: #3a3a3a;
    border: solid 2px #3a3a3a;
  }
  &__reset{
    margin: 5px;
    font-weight: 0;
    font-size: 15px;
    background-color: #fff;
    color: rgb(13, 16, 16);
    padding: 8px 20px;
    border-radius: 5px;
    transition : 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  &__reset:hover{
    transition : 200ms;
    transform : translateY(-0px);
    color: #fff;
    background-color: #3a3a3a;
    border: solid 2px #3a3a3a;
  }
}

.check {
  display: flex;
  align-items: center;
  &__icon {
    height: 1.3rem;
    margin-top: 3px;
    margin-left: 10px;
  }
}

.desc-icon {
  height: 1.3rem;
  margin-right: 10px;
}