.detailed-month {
  height: 100vh;
}

.month-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon {
  height: 3rem;
  margin-top: 10px;
  margin-right: 10px;
}

.overall-month-stats {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;
  margin: 16px;
  grid-row-gap: 1px;
}

.month-stat {
  display: flex;
  flex-direction: column;
  background-color: #3498db;
  border-radius: 8px;
  padding: 16px;
  &__title {
    font-size: 15px;
    font-weight: bold;
  }
  &__value {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
    height: 100%;
    color: #1c1c1c;
  }
  &__value-hovered {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
    height: 100%;
    color: white;
    transform: rotateX(360deg);
    transition: transform 0.4s ease;
  }
  &__handler {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__value2 {
    font-size: 12px;
    font-weight: bolder;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    color: #1c1c1c;
    transform: rotateX(0deg);
    transition: transform 0.4s ease;
  }
  &__value2-hovered {
    font-size: 12px;
    font-weight: bolder;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    transform: rotateX(360deg);
    transition: transform 0.4s ease;
  }
}
.month-stat2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
hr {
  border: 1px solid #ffffff;
  margin: 0;
}

.other-hr {
  border: 1px solid rgba(255, 255, 255, 0.44);
  margin: 0 16px 0 16px;
}
.cat {
  padding-top: 10px;
  font-size: 12px;
}

.month-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin:16px;
  grid-row-gap: 1px;
}

.single-expense {
  background-color: rgb(56, 56, 56);
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin-bottom: 16px;
  height: 40px;
  border-radius: 10px
}

.single-expense:hover {
  background-color: rgba(255, 255, 255, 0.44);
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  color: #3498db;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__icon {
    padding-right: 5px;
    height: 0.6rem;
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #3498db;
  color: #3498db;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #3498db;
    color: white;
  }

  &__active {
    background-color: #3498db;
    color: white;
  }
}

.manage {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select2 {
  margin-left: 8px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  width: 75px;
}

.select2:hover,
.select2:focus {
  border-color: #3498db;
  box-shadow: 0 1px 10px rgba(52, 152, 219, 0.7);
}

.failure {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: none;
}

.expense-details-panel.show,
.overlay.show {
  display: block;
}

.detailed-month {
  position: relative;
}

.overlay::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1px);
}

.expense-details-panel {
  z-index: 102;
  position: fixed;
  top: 0;
  right: -350px;
  bottom: 0;
  width: 350px;
  background-color: #171717;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
}

.expense-details-panel.show {
  right: 0;
}
