.home {
  height: 100vh;
  font-weight: bold;
  display: grid;
  grid-gap: 15px;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-template-areas:
    "first first lottie"
    "second third fourth";
  font-size: 80px;
}
.e1 {
  flex-wrap: inherit;
  grid-area: first;
  text-transform: uppercase;
  margin: auto 0 auto 0;
  &__red {
    color: red;
  }
}
.e2 {
  display: flex;
  grid-area: lottie;
  justify-content: center;
  align-items: center;
  &__lottie {
    transform: scale(3);
  }
}
.e3 {
  grid-area: second;
  font-size: 30px;
}
.e4 {
  grid-area: third;
  font-size: 30px;
}
.e5 {
  grid-area: fourth;
  font-size: 30px;
}
