.App {
  display: flex;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  color: white;
}

.navbar {
  background-color: #333;
  width: 270px;
  color: white;
  height: 100vh;
  transition: 0.5s ease;
}

.navbar.hidden {
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.test-button {
  margin-top: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  width: 45px;
}

.test-button:hover {
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.icon-inside {
  width: 70%;
}